{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Hi微博
{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>
        <p> 你好，
        {% if current_user.is_authenticated %}
        {{ current_user.username }}
        {% else %}
        陌生的朋友。
        </p>
        <p>
        欢迎来到Hi博客。注册后可以用markdown语法发布微博，记录技术灵感！
        {% endif %}！
        </p>
    </h1>
    <div>
        {% if current_user.can(Permission.WRITE_ARTICLES) %}
        {{ wtf.quick_form(form) }}
        {% endif %}
    </div>
</div>
{% include '_posts.html' %}
{% endblock %}
