{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}
Hi微博
{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>
        <p> 你好，
        {% if current_user.is_authenticated %}
        {{ current_user.username }}
        {% else %}
        陌生的朋友。
        </p>
        <p>
        欢迎来到Hi博客。注册后可以用markdown语法发布微博，记录技术灵感！
        {% endif %}！
        </p>
    </h1>
    <div>
        {% if current_user.can(Permission.WRITE_ARTICLES) %}
        {{ wtf.quick_form(form) }}
        {% endif %}
    </div>
</div>
<div class="post-tabs">
    <ul class="nav nav-tabs">
        <li{% if show_follow == 0 %} class="active"{% endif %}><a href="{{ url_for('.show_all') }}">全部</a></li>
        {% if current_user.is_authenticated %}
            <li{% if show_follow == 1 %} class="active"{% endif %}><a href="{{ url_for('.show_followed') }}">关注者</a></li>
            <li{% if show_follow == 2 %} class="active"{% endif %}><a href="{{ url_for('.show_follower') }}">追随者</a></li>
        {% endif %}
    </ul>
    {% include '_posts.html' %}
</div>
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.index') }}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
